/* Estilos específicos para la página de contacto */

body {
    background-color: #fff; /* Fondo blanco */
    color: #000; /* Letras negras */
}

.bg-violet {
    background-color: #e28d2b !important; /* Color violeta para el botón */
    border-color: #e28d2b !important;
}

.bg-violet:hover {
    background-color: #e28d2b !important; /* Un tono más oscuro al pasar el mouse */
    border-color: #e28d2b !important;
}
.carousel-item img {
    height: 100%;  
    object-fit: contain;  /* opcional: recorta para mantener el encuadre */
    width: 100%;
  }

.carousel-item{
    height: 500px;
}
  
.blur-bg {
    filter: blur(30px) brightness(0.8);
    z-index: 0;
  }
  
  .carousel-item img.position-relative {
    z-index: 1;
  }
  