/* Estilos específicos para la página de contacto */

body {
    background-color: #f5f5f5; /* Fondo blanco */
    color: #000; /* Letras negras */
}

.bg-violet {
    background-color: #e28d2b !important; /* Color violeta para el botón */
    border-color: #e28d2b !important;
}

.bg-violet:hover {
    background-color: #e28d2b !important; /* Un tono más oscuro al pasar el mouse */
    border-color: #e28d2b !important;
}
.carousel-item img {
    height: 100%;  
    object-fit: contain;  /* opcional: recorta para mantener el encuadre */
    width: 100%;
  }

.carousel-item{
    height: 500px;
}
  
.blur-bg {
    filter: blur(30px) brightness(0.8);
    z-index: 0;
  }
  
  .carousel-item img.position-relative {
    z-index: 1;
  }
  

.footer-custom{
  background-color: #f3b671;
}
  footer h5 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

footer p,
footer li,
footer a {
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
}

footer ul {
    padding-left: 1rem;
}

/*.carousel-control-prev,
.carousel-control-next {
  background: none; /* Elimina el fondo 
  border: none; /* Elimina el borde 
  opacity: 0.5; /* Reduce la opacidad para que sean semi-transparentes por defecto 
  transition: opacity 0.3s ease; /* Agrega una transición suave para el efecto hover 
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.9; /* Aumenta la opacidad al pasar el mouse 
  cursor: pointer; /* Cambia el cursor para indicar que son interactivos 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.3); /* Un fondo oscuro semi-transparente para los iconos 
  border-radius: 45%; /* Hace los iconos circulares (opcional) 
  padding: 10px; /* Espacio alrededor del icono (ajusta según necesites) 
}
*/
.carousel-control-prev,
.carousel-control-next {
  background: none;
  opacity: 0; /* Oculta los botones por defecto */
  border: none;
  transition: opacity 0.3s ease; /* Transición suave para el efecto hover */
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
  opacity: 1; /* Muestra los botones al pasar el mouse sobre el carrusel */
  cursor: pointer;
}
.carousel-control-prev:hover,
.carousel-control-next:hover  {
  background-color: #d3d3d3; /* Oscurece el fondo del icono al pasar el mouse*/
}